recursive-include python/Infernux *
recursive-exclude python/Infernux/test *
recursive-exclude python/test *
recursive-exclude python *.meta
global-exclude __pycache__ *.pyc *.pyo *.bak *.pdb *.lib *.exp
